<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vondos Admin</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!-- Vendors -->

<!-- Animate CSS -->
<link href="/assets/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">

<!-- Material Design Icons -->
<link href="/assets/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">

<!-- Malihu Scrollbar -->
<link href="/assets/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

<!-- Full Calendar -->
<link href="/assets/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">

<!-- Select 2 -->
<link href="/assets/vendors/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">

<!-- SweetAlert -->
<link href="/assets/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Site CSS -->
<link href="/assets/css/app.css" rel="stylesheet">

<!-- Page loader -->
<script src="/assets/js/page-loader.min.js"></script>

<!-- jQuery -->
<script src="/assets/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Javascript Libraries -->

<!-- Bootstrap -->
<script src="/assets/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Malihu ScrollBar -->
<script src="/assets/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Bootstrap Notify -->
<script src="/assets/vendors/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>

<!-- Moment -->
<script src="/assets/vendors/bower_components/moment/min/moment.min.js"></script>

<!-- FullCalendar -->
<script src="/assets/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

<!-- Simple Weather -->
<script src="/assets/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>

<!-- Salvattore -->
<script src="/assets/vendors/bower_components/salvattore/dist/salvattore.min.js"></script>

<!-- SweetAlert -->
<script src="/assets/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>

<!-- Flot Charts -->
<script src="/assets/vendors/bower_components/flot/jquery.flot.js"></script>
<script src="/assets/vendors/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/assets/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>

<!-- Sparkline Charts -->
<script src="/assets/vendors/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- EasyPie Charts -->
<script src="/assets/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<!-- Select 2 -->
<script src="/assets/vendors/bower_components/select2/dist/js/select2.full.min.js"></script>

<!-- Simple File Input -->
<script src="/assets/vendors/fileinput/fileinput.min.js"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="/assets/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->


<!-- Site Functions & Actions -->
<script src="/assets/js/app.min.js"></script>